.arsenal {
    background-color: var(--secondary-color);
    flex: 0 0 auto;
    
    display: grid;
    justify-content: center;
    padding: 5px;
    grid-template-columns: repeat(var(--arsenal-num-cols), var(--arsenal-cell-size));
    grid-template-rows: repeat(var(--arsenal-num-rows), var(--arsenal-cell-size));
    grid-gap: var(--arsenal-gap);
}