.board {
    width: 100%;
    background-color: var(--primary-color);
    flex: 0 0 auto;
  
    display: grid;
    align-content: space-between;
    justify-content: center;
    grid-template-columns: repeat(var(--board-num-rows), var(--board-cell-size));
    grid-template-rows: repeat(var(--board-num-cols), var(--board-cell-size));
    grid-gap: var(--board-gap);
}